#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	--color-background: #fafafa;
	--color-foreground: #1f2023;
}

body.dark {
	--color-background: #1f2023;
	--color-foreground: #efefef;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
